
  .heading {
    text-align: center;
    color: white;
  }

  .body{
    text-align: center;
    background-color: rgb(74, 72, 72);
  }
  
  .button {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  #blue {
    background-color: rgb(136, 219, 249);
  }

  #pink {
    background-color: pink;
  }

  #orange {
    background-color: rgb(250, 214, 147);
  }

  #green {
    background-color: rgb(142, 245, 142);
  }

